SERVICE_NAME=payment-notification-service
SERVICE_PORT=8084
SERVICE_IP=127.0.0.1

MONGODB_URI=mongodb://127.0.0.1:27017
MONGODB_DB_NAME=movie_ticket_system

RABBITMQ_URL=amqp://guest:guest@127.0.0.1:5672
RABBITMQ_EXCHANGE=movie_ticket_events

EVENT_BOOKING_CREATED=BOOKING_CREATED
EVENT_PAYMENT_COMPLETED=PAYMENT_COMPLETED
EVENT_BOOKING_FAILED=BOOKING_FAILED
